[core]
	editor = nvim
	excludesfile = /Users/mathew/.gitignore
[user]
	name = Mathew Button
	email = mat@pushbutton.xyz
[alias]
	st = status -s
	fp = fetch -p
	ap = add --patch
	l = log --pretty=oneline --graph --decorate --all
	b = branch
	rbm = pull --rebase origin master
	amd = commit --amend --no-edit
	lb = for-each-ref --sort=committerdate refs/heads/ --format='%(committerdate:short) %(refname:short)'
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	template = ~/.gitmessage
